<div class="header" *ngIf="router.url !== '/404'">
    <div class="logo color-green">B<span class="color-black font-20">est</span></div>
    <div class="nav-list sm-hide">
    	<a [routerLink]="['/']">首页</a>
        <a href="http://blog.bestsamcn.me/search">搜索</a>
        <a href="http://blog.bestsamcn.me/about">关于</a>
    	<a href="http://blog.bestsamcn.me/message">留言</a>
        <!-- <a :to="{name:'AdminSignin'}" :class="{'active':routerName==='AdminSignin'}">{{isLogin ? '管理' : '登录'}}</a> -->
    </div>
    <div class="menu-btn md-hide">
        <a href="javascript:;" class="icon-reorder" [class.on]="globalService.isMenuVisible" (click)="globalService.setMenuVisible()"></a>
    </div>
</div>